@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;1,200;1,300&display=swap');
*{
    margin: 0;
    background-color: #faf2e9;
    font-family: 'Karla', sans-serif;
}
.blue{
    background-color: rgb(0, 0, 110);
    width: 100px;
    height: 100%;
    border-radius: 19px;
    text-align: center;
}
.txt1{
    background-color:rgba(245, 222, 179, 0);
    color: #ffffff;
    font-size:large;
    font-weight: bold;
    
}